# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.tmp

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#db folders
db_data/
backend/app/__pycache__/__init__.cpython-313.pyc
backend/app/__pycache__/crud.cpython-313.pyc
backend/app/__pycache__/database.cpython-313.pyc
backend/app/__pycache__/main.cpython-313.pyc
backend/app/__pycache__/models.cpython-313.pyc
backend/app/__pycache__/schemas.cpython-313.pyc
backend/app/routers/__pycache__/__init__.cpython-313.pyc
backend/app/routers/__pycache__/auth.cpython-313.pyc
backend/app/routers/__pycache__/comments.cpython-313.pyc
backend/app/routers/__pycache__/products.cpython-313.pyc
